<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
  <div class="container-fluid">
    <a class=" navbar-brand" style="font-family: Dancing Script" href="/">MicroEmpresa Textil
      <img width="30px" height="30px" src="logo.png" alt="logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="ubuntu-mono-regular collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="margin-left: auto;">
        <li class="nav-item">
          <a class="nav-link" href="/">Inico</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listClie">Listar Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listMat">Listar Materiales</a>
        </li>
      </ul>
    </div>
  </div>
</nav>