<body>
  <div class="d-flex" id="wrapper">

    <!-- Sidebar contenido-->
    <div class="bg-white" id="sidebar-wrapper">
      <div class="ubuntu-mono-bold text-center py-2 fs-4 fw-bold text-uppercase border-bottom">
        Menu
      </div>
      <div class="ubuntu-mono-regular list-group list-group-flush my-3">
        <a
          href="/"
          class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fa-solid fa-house"></i>Inicio</a>
        <a
          href="/listMat"
          class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fa-brands fa-dropbox"></i>Materiales</a>
        <a
          href="#"
          class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fas fa-shopping-cart me-2"></i>Compra Materiales</a>
        <a
          href="/listClie"
          class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fa-solid fa-person-circle-check"></i>Clientes</a>
        <a
          href="#"
          class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fa-solid fa-shirt"></i>Productos</a>
        <a
          href="#"
          class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fa-solid fa-bag-shopping"></i>Prodcuto en Venta</a>

        <a
          href="#"
          class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fa-solid fa-circle-check"></i>Venta</a>

      </div>
    </div>
    <!-- /#sidebar-wrapper cierre contenido-->

    <!--navbar-toggle-->
    <div id="page-content-wrapper">
      <nav
        class="navbar navbar-expand-lg navbar-light bg-transparent pt-4 ps-4"
      >
        <div class="d-flex align-items-center">
          <i
            class="fas fa-align-left primary-text fs-4 me-1"
            id="menu-toggle"
          ></i>
        </div>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>
  </div>

  <style>
    :root { --main-bg-color: #009d63; --main-text-color: #009d63;
    --second-text-color: #bbbec5; --second-bg-color: #c1efde; } .primary-text {
    color: var(--main-text-color); } .second-text { color:
    var(--second-text-color); } .primary-bg { background-color:
    var(--main-bg-color); } .secondary-bg { background-color:
    var(--second-bg-color); } .rounded-full { border-radius: 100%; }
    #sidebar-wrapper { min-height: calc(100vh - 60px); margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out; -moz-transition: margin 0.25s
    ease-out; -o-transition: margin 0.25s ease-out; transition: margin 0.25s
    ease-out; } #sidebar-wrapper .sidebar-heading { padding: 0.875rem 1.25rem;
    font-size: 1.2rem; } #sidebar-wrapper .list-group { width: 15rem; }
    #page-content-wrapper { min-width: 100vw; } #wrapper.toggled
    #sidebar-wrapper { margin-left: 0; } #menu-toggle { cursor: pointer; }
    .list-group-item { border: none; padding: 20px 30px; }
    .list-group-item.active { background-color: transparent; color:
    var(--main-text-color); font-weight: bold; border: none; } @media
    (min-width: 768px) { #sidebar-wrapper { margin-left: 0; }
    #page-content-wrapper { min-width: 0; width: 100%; } #wrapper.toggled
    #sidebar-wrapper { margin-left: -15rem; } }
  </style>

  <script>
    var el = document.getElementById("wrapper"); var toggleButton =
    document.getElementById("menu-toggle"); toggleButton.onclick = function () {
    el.classList.toggle("toggled"); };
  </script>
</body>